:root {
	--cs-width: 100%;
	--cs-aspect-ratio: 4/3;
	--cs-color-highlight: #336699;
	--cs-color-even: #3366999d;
	--cs-shadow: none; 
}


.carte-sections {
	position: relative;
	display: flex;
	flex-direction: column;
	width: var(--cs-width);

	&__header {
		$self: &;
		line-height: 2em;
		white-space: nowrap;

		&__postalcode {
			font-size: 1em !important;
			text-align: center;
            text-transform: uppercase;
			width: 5em;
			border: 1px solid black;

			&:focus {
				border-width: 2px;
			}

            &::placeholder {
                opacity: 0.4;
            }

			&.shake {
				filter: blur(0.01rem);
				animation-name: cs-shake;
				animation-duration: 50ms;
				animation-iteration-count: infinite;
				animation-timing-function: linear;
				transform-origin: center center;

			}
		}

		&__validmark::before {
			margin: 0 0.25em;
		}

		&:has(&__postalcode:placeholder-shown) {
			#{$self}__validmark {
				display: none;
			}
		}

		&:has(&__postalcode:valid) {
			#{$self}__validmark::before {
				content: "✅";
			}
		}

		&:has(&__postalcode:invalid) {
			#{$self}__validmark::before {
				content: "❌";
			}
		}
	}

	&__map {
		position: relative;
		margin-top: 0.5em;
		aspect-ratio: var(--cs-aspect-ratio);
		box-shadow: var(--cs-shadow);

		&__toolbar {
			background-color: var(--cs-color-highlight);
			margin-top: 0.6em;
			margin-left: 0.6em;
			font-size: 1.1rem;
			font-weight: bold;
			padding: 0.3em 0.5em;
			box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.35);
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			max-width: calc(100% - 70px);
			user-select: none;
			display: none;
			-webkit-appearance: none;
			appearance: none;
			// color: white;
			// opacity: 0.9;

			// @media (max-width: 576px)  {
			// 	visibility: hidden;
			// }
		}
	}

	&__infos {
		margin-top: 1.5em;
		font-size: 0.9em;

		table {
			th, td {
				padding: 0.2em;
			}

			th {
				text-align: left;
				font-size: 1.3em;
				background-color: var(--cs-color-highlight);
			}
			
			tr {
				&:nth-child(even) td {
					background-color: var(--cs-color-even);
				}

				td:first-child {
					line-height: 1.5em;
					width: 1%;
					white-space: nowrap;
					padding-right: 1em;
					font-weight: bold;
					vertical-align: top;
				}
			}
		}
	}


	.gm-style .gm-fullscreen-control {
		width: 2rem !important;
		height: 2rem !important;

		img {
			width: 1rem !important;
			height: 1rem !important;
		}		
	}

}


@keyframes cs-shake {
    from { transform: translate(-1%, 1%) rotate(-3deg); }
    to   { transform: translate(1%, -1%) rotate(3deg); }
}